{% extends "base_generic.html" %}

{% block content %}
<div class="background-search">
    <table class="baza">
        <tr><th class="th-baza"><h1 style="font-size: 30px; background-color: rgba(0,0,0,0.3);"> Удаление профиля: </h1></th></tr>
    </table>
</div>

<div class="complex">
    <div class="complex-1">

        <p>Вы уверены, что хотите удалить свой профиль? Это действие нельзя будет отменить</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Удалить профиль</button>
        </form>
    </div>
</div>

{% endblock %}