{% extends "base_generic.html" %}

{% block content %}

<div class="background2">
    <table class="baza">
        <tr><th class="th-baza"><h1 style="font-size: 40px; background-color: rgba(0,0,0,0.3);"> О НАС </h1></th></tr>
    </table>
</div>
<div class="complex">
    <div class="complex-1">
        <table>
            <tr>
                <th>
                    <img src="/static/media/complex.jpg" class="image-home" align="left">
                </th>
                <th style="width: 500px; text-align: left;">
                    <br>
                    <p style="font-size: 12px;">«Турист» — это туристическая база, в 40 км от города Гродно, на территории которого расположено 6 домиков. Это стильные, современные, продуманные до мелочей номера для размещения, которые перенесут вас в новую реальность. Загородные домики комфортные,  для отдыха вдвоем, семьей или даже большой компанией (при условии бронирования сразу нескольких).</p>
                </th>
            </tr>
        </table>
        <br>
        <hr>
        <p style="font-size: 15px;">Наша турбаза расположена на берегу озера «Белое», что обеспечивает огромное количество вариантов времяпрепровождения как зимой, так и летом. Это могут быть прогулки, катание на катамаранах, сап-досках и лодках, купание и отдых на пляже. Зимой мы организуем безопасное катание на коньках по поверхности озера, прокат лыж и другого спортивного инвентаря.
            Если вы рассматриваете вариант отдыха с детьми, это тоже к нам в турбазу «Турист»! На территории есть детский городок, оборудованный увлекающими детей снарядами и конструкциями.
            Мы позаботились о том, чтобы ваше пребывание было максимально комфортным и не требующим каких-то бесконечных дополнений — вы приезжаете, и сразу окунаетесь в атмосферу отдыха.
        </p>
        <br>
        <a href="{% url 'home' %}" class="button">НА ГЛАВНУЮ </a>
        <hr>
    </div>
</div>

{% endblock %}