
{% extends "base_generic.html" %}


{% block content %}
<div class="background">
    <table class="baza">
        <tr><th class="th-baza"><h2> ТУРИСТИЧЕСКАЯ БАЗА «ХИМИК» </h2></th></tr>
        <tr><th class="th-baza"><h2> В ГРОДНЕНСКОЙ ОБЛАСТИ </h2></th></tr>
        <tr><th class="th-baza"><h3> УВИДЕТЬ ОДИН РАЗ, ВЛЮБИТЬСЯ НАВСЕГДА </h3></th></tr>
    </table>
</div>
<div class="complex">
    <div class="complex-1">
        <img src="/static/media/complex.jpg" class="image-home" align="left">
        <h5>О НАШЕМ КОМПЛЕКСЕ:</h5>
        <ul style="font-size: 12px;">
            <li>- Туристическая база "Химик" расположена в 40 км. от города Гродно. Это живописнейшее уединённое место в сосновом бору, на берегу озера Белое.</li>
            <li>- Отдых на турбазе многогранен и способен удовлетворить пожелания различных возрастных категорий. Турбаза идеально подходит как для семейного отдыха и отдыха выходного дня, так и для проведения корпоративных мероприятий, организации турслётов.</li>
            <li>- В летнее время организуются семейные заезды по 12 дней с предоставлением путёвок для различных категорий граждан (в стоимость включено питание и проживание).</li>
            <li>- Неимоверная красота природы, вкуснейшая домашняя кухня, доброжелательный персонал - всё это ждёт Вас на туристической базе "Химик"!</li>
        </ul>
        <br>
        <a href="#" class="button">ПОДРОБНЕЕ</a>
        <br>
        <br>
        <h5>РАЗМЕЩЕНИЕ</h5>
        <p style="font-size: 12px;">Отдых на турбазе «Химик» предусматривает возможность размещения в отдельно стоящих домиках разной степени комфортности. Наша туристическая база включает 10 домов и, позволяя удобно разместиться как небольшой компании, так и делегации побольше (при условии аренды сразу нескольких средств размещения). Одно из основных преимуществ наших домиков – детально продуманное оснащение: в каждом из них, есть все необходимое, начиная с мебели, постельных принадлежностей и текстиля и заканчивая такими деталями, как бокалы и посуда. И все это идеально подобрано и вписано в стильный интерьер, продуманный талантливыми дизайнерами.</p>
    </div>
</div>
<div class="complex">
    <div class="complex-1">
        <table>
            <tr>
                <th style="width: 500px; text-align: left;">
                    <h5 style="margin-left: 50px;">ДОМИК НОМЕР 1</h5>
                    <br>
                    <ul style="font-size: 12px;">
                        <li>- Одноэтажный домик на 4 мест</li>
                        <li>- 2 комнаты отдыха, кухня оборудованная бытовой техникой, плита, холодильник, душ, туалет, телевидение, кондиционер, закрытая веранда.</li>
                        <li>- Холодная и горячая вода, отопление.</li>
                        <li>- Безбарьерная среда.</li>
                    </ul>
                </th>
                <th>
                    <img src="/static/media/home1.jpg" class="image-home" align="left">
                </th>
            </tr>
            <tr style="height: 40px;">
                <th>
                    <h6>Стоимость – 400 рублей сутки</h6>
                </th>
                <th>
                    <form class="form-inline" action="{% url 'search' %}" method="get">
                        <button class="btn " type="submit">забронировать</button>
                    </form>
                </th>
            </tr>

            <tr>
                <th>
                    <img src="/static/media/home2.jpg" class="image-home" align="left">
                </th>
                <th style="width: 500px; text-align: left;">
                    <h5 style="margin-left: 50px;">ДОМИК НОМЕР 2</h5>
                    <br>
                    <ul style="font-size: 12px;">
                        <li>- Одноэтажный домик на 5 мест.</li>
                        <li>- 2 комнаты отдыха, кухня оборудованная бытовой техникой, плита, холодильник, душ, туалет, телевидение, кондиционер, закрытая веранда.</li>
                        <li>- Холодная и горячая вода, отопление.</li>
                    </ul>
                </th>
            </tr>
            <tr style="height: 40px;">
                <th>
                    <form class="form-inline" action="{% url 'search' %}" method="get">
                        <button class="btn " type="submit">забронировать</button>
                    </form>
                </th>
                <th>
                    <h6>Стоимость – 420 рублей сутки</h6>
                </th>
            </tr>
            <tr>
                <th style="width: 500px; text-align: left;">
                    <h5 style="margin-left: 50px;">ДОМИК НОМЕР 3</h5>
                    <br>
                    <ul style="font-size: 12px;">
                        <li>- Одноэтажный домик на 6 мест</li>
                        <li>- 2 комнаты отдыха, кухня оборудованная бытовой техникой, плита, холодильник, душ, туалет, телевидение, кондиционер, закрытая веранда.</li>
                        <li>- Холодная и горячая вода, отопление.</li>
                        <li>- Безбарьерная среда.</li>
                    </ul>
                </th>
                <th>
                    <img src="/static/media/home3.jpg" class="image-home" align="left">
                </th>
            </tr>
            <tr style="height: 40px;">
                <th>
                    <h6>Стоимость – 450 рублей сутки</h6>
                </th>
                <th>
                    <form class="form-inline" action="{% url 'search' %}" method="get">
                        <button class="btn " type="submit">забронировать</button>
                    </form>
                </th>
            </tr>
        </table>
        <a href="{% url 'rooms' %}" class="button">ПОСМОТРЕТЬ ЕЩЕ </a>
        <hr>
    </div>
</div>
<div class="complex">
    <div class="complex-1">
        <br>
        <h5>КАК ПРОВЕСТИ ВРЕМЯ?</h5>
        <br>
        <p>Наша туристическая база «Химик»   на берегу озера,  в лесу – это идеальный вариант для загородного отдыха на выходные или даже на 5-10 дней. Внушительное разнообразие вариантов времяпрепровождения обеспечит вас идеями по части того, чем можно заняться. Для полного расслабления у вас будет главное – красивая природа! Озерная гладь в обрамлении пышной растительности, вид на невероятные рассветы и закаты, гармоничный ландшафт – это то, что делает привлекательным загородный отдых зимой и летом. Прогулки на природе станут для вас источником накопления энергии и вдохновения! Добавьте к этому купание в озере (или катание по нему на коньках в зимнее время), «путешествия» на катамаранах, лодках, прокат байдарок,  игру в волейбол, футбол, бадминтон. Если перепробовать все это, можно и не заметить, как пролетят выходные!</p>
    </div>
</div>

{% endblock %}