{% extends "base_generic.html" %}

{% block content %}
<div class="background3">
    <table class="baza">
        <tr><th class="th-baza"><h1 style="font-size: 30px; background-color: rgba(0,0,0,0.3);"> ДОМА ДЛЯ ОТДЫХА </h1></th></tr>
        <tr><th class="th-baza"><h1 style="font-size: 30px; background-color: rgba(0,0,0,0.3);"> НА ТУРБАЗЕ "ХИМИК" </h1></th></tr>
        <tr><th class="th-baza"><h1 style="font-size: 30px; background-color: rgba(0,0,0,0.3);"> ЗАЗМЕЩЕНИЕ </h1></th></tr>
    </table>
</div>
<div class="complex">
    <div class="complex-1">
        <br>
        <h4>РАЗМЕЩЕНИЕ </h4>
        <h5>Для размещения гостей предусмотрены 6 домиков. Номера оснащены удобной мебелью и всем необходимым для комфортного пребывания.</h5>
        <br>
        <br>
        {% if room_list %}

            <h3>Список комнат:</h3>
            <br>
            <br>
            {% for room in room_list %}
            <table>
                <tr>
                    <th>
                        <img src="{{ room.images.first.image.url }}" alt="{{ room.title }}" class="image-home" align="left">
                    </th>
                    <th style="width: 500px; text-align: left;">
                        <a style="margin-left: 50px; font-size: 17px; " href="{{ room.get_absolute_url }}" class="button">{{ room.title }}</a>
                        <br>
                        <br>
                        <ul style="font-size: 13px; ">
                            <li>- домик номер: {{ room.number }}</li>
                            <li>- спальных мест: {{ room.sleeping_places }}</li>
                            <li>- Холодная и горячая вода, отопление.</li>
                            <li>- Безбарьерная среда.</li>
                        </ul>
                    </th>
                </tr>
                <tr style="height: 40px;">
                    <th>
                        <h6>Стоимость – {{ room.price }} BYN сутки</h6>
                    </th>
                    <th>
                        <a href="{{ room.get_absolute_url }}" class="button">ПОДРОБНЕЕ</a>
                    </th>
                </tr>
            </table>
        <hr>
        <br>
            {% endfor %}

        {% else %}
        <p>Комнат в данный момент нет.</p>
        {% endif %}
    </div>
</div>
<div class="complex">
    <div class="complex-1">
        <br>
        <p>
            Туристическая база «Химик» с домиками на берегу озера – это прекрасная возможность отлично провести выходные или небольшой отпуск! Предлагаем вам забронировать апартаменты в нашей турбазе у воды (Гродненская область), где есть все необходимо для того, чтобы полностью расслабиться и отдохнуть.
            Для того чтобы арендовать загородный дом отдыха недорого, просто свяжитесь с нами любым удобным способом: по телефону, через мессенджеры, через специальную форму бронирования.
        </p>
        <br>
        <h5>Преимущества наших домиков: </h5>
        <ul>
            <li><b>Максимальный уровень комфорта.</b> Внутреннее пространство продумано таким образом, чтобы вам было уютно в нем находиться. Попадая в апартаменты, вы сразу наполняетесь особой энергией и чувством, что каждый предмет находится здесь не просто так – он ДЛЯ ВАС! Каждая комната продумана и подготовлена нами для того, чтобы вы могли отдохнуть максимально комфортно.</li>
            <li><b>Оптимально оборудованное пространство.</b> Любой наш гостевой дом предоставляют возможность не беспокоиться по вопросам размещения и проживания – здесь есть все необходимое! Зоны сна с удобными кроватями, мини-кухня с микроволновкой, электрическим чайником, электроплитой, холодильником и наборами посуды для приготовления пищи и красивой сервировки стола. Подготовленное постельное белье, полотенца, халаты и тапочки. Ванные принадлежности и фен. Эффективное кондиционирование и отопление. Здесь есть даже такие приятные мелочи, как пледы и зонтики, что говорит об уважении нами наших гостей, желании позаботиться и обеспечить сервис на высоком уровне. Гродненская гостеприимность – наше все!</li>
            <li><b>Экологичность и безопасность.</b> Расположение нашей турбазы обязывает: мы не могли строить все имеющиеся на территории постройки с использованием дешевых, неэкологичных материалов. Турбаза в лесу – это своего рода вызов. Подобный проект всегда предполагает необходимость применения натуральных материалов. И мы справились! Натуральное дерево, комфортные хлопковые и льняные ткани, плетеные предметы, стекло, благородные металлы, керамика – все это создает неповторимую атмосферу изысканного жилого пространства, которым характеризуется каждый дом</li>
        </ul>
        <br>
        <h5>Для кого подходят домики турбазы «Химик»: </h5>
        <ul>
            <li><b>Для влюбленной пары.</b> Если вы хотите уединенно отдохнуть с вашим любимым человеком и насладиться его компанией вдали от суеты и шума, расположение нашей турбазы и ее оснащение станет для вас идеальным решением!</li>
            <li><b>Для семей с детьми.</b>  У нас есть все, чтобы организовать полноценный семейный отдых: развлечения на воде, детская площадка, спортивный инвентарь, разнообразные варианты организации питания.</li>
            <li><b>Для дружеских компаний.</b> Если вам хочется отпраздновать день рождения, годовщину свадьбы, девичник или мальчишник, а также любое другое событие, аренда дома посуточно в нашей турбазе – практичный и очень удобный вариант. При условии большой численности компании можно забронировать сразу несколько домиков. Мангальная зона в вашем распоряжении!</li>
            <li><b>Для трудовых коллективов.</b> Намечается корпоратив, который хочется отметить нестандартно? Мы ждем вас! Лучшего предложения вы не найдете. Такие изящное решение организации корпоратива подойдет для небольших компаний.</li>
            <li><b>ля себя любимого.</b> Да, дом для релакса в одиночестве для некоторых людей – просто непозволительная роскошь и мечта, которую они иногда могут себе позволить осуществить. И если вы относите себя к этой категории – любой из наших домиков ждет вас!</li>
        </ul>
    </div>
</div>

{% endblock %}